<div class="col-2">
  <table>
    <tr>
     <th>BRAND</th>
    </tr>
    <tr>
      <td>nekozita</br>
          Off-White</br>
          HERON PRESTON</br>
          WE11DONE</br>
          BALENCIAGA</br>
          DITA
       </td>
    </tr>
  </table>
</div>