<div class="container">
  <div class="row">
    <table>
     <tr>
       <th>ショッピングカート</th>
       <td>カート空にする</td>
     </tr>
    </table>
    </div>
    <div class="col-10">
      <div class="row">
        <table class="table table-bordered">
           <thead class="thead-dark">
             <tr>
               <th>商品名</th>
               <th>単価(税込)</th>
               <th>数量</th>
               <th>小計</th>
               <th></th>
             </tr>
             <% @cart_items.each do |cart_item| %>
             <tr>
               <td><%= attachment_image_tag cart_item, :image, :fill,100,100 %>
                   <%= cart_item.item.neme %>
                </td>
                <td><%= cart_item.item.price %></td>
                <td><%= cart_item.amount %></td>
             </tr>
             <% end %>
           </thead>
        </table>
      </div>
  </div>
</div>