/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#box{
  height: 512px;
}
.image1 {
  background-image: image-url("Off-White_L.jpg");
}
.image2 {
  background-image: image-url("HERON-PRESTON.jpg");
}
.image3 {
  background-image: image-url("WE11DONE.jpg");
}
.image4 {
  background-image: image-url("balenciaga.jpg");
}
.image5 {
  background-image: image-url("fearofgod.jpg");
}
.image6 {
  background-image: image-url("DITA.jpg");
}

div.search {
  text-align: right;
}


body {
  height: 100%;
}


.container {
   min-height: 15vh;
   margin-bottom: 10px;
   bottom: 0;
 }

body {
  position: relative;/*←相対位置*/
}


footer {
  position: absolute;/*←絶対位置*/
  margin-top: 100px;
  // bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

div.errors {
  color :red;
}

@media (max-width: 480px){
#box{
  height: 100px;
}
h1{
  font-size: 1.2
  rem;
}
}

.label-text {
  margin: 0.5em 0;
  padding: 0.5em;
  font-size: 1.3em;
  background: #EFEFEF;
  font-weight: bold;
}

h4 {
  padding: 0.25em 0.5em;/*上下 左右の余白*/
  color: #494949;/*文字色*/
  background: transparent;/*背景透明に*/
  border-left: solid 5px #7db4e6;/*左線*/
}