/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

#box{
  height: 512px;
}
.image1 {
  background-image: url(Off-White_L.jpg);
}
.image2 {
  background-image: url(HERON-PRESTON.jpg);
}
.image3 {
  background-image: url(WE11DONE.jpg);
}
.image4 {
  background-image: url(balenciaga.jpg);
}
.image5 {
  background-image: url(fearofgod.jpg);
}
.image6 {
  background-image: url(DITA.jpg);
}

div.search {
  text-align: right;
}


body {
  height: 100%;
}


.container {
  min-height: 15vh;
  margin-bottom: 10px;


}

footer {
  margin-top: 100px;
}